/* ---------------------------- SWAPS ------------------------------*/
.swapSect{
	height: auto;
	border-bottom: 0.5px solid #818181;
}
.tokenswaps{
	width:100%;
	height:auto;
	padding:10px; /* padding:10px 8%; */
	box-sizing:border-box;
	background-color: #363636;
	background: radial-gradient(#683c2c, #443833);
	background: radial-gradient(#683c2c, #363636); /* shared container class - swaps & hypecards section */
	color:#FFF;
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}
.tokenswaps_casing{
	display: inline-block;/* for us to center as child elements of v-align & t-align above */
	vertical-align: middle;
	text-align:center;
	width:100%;
}
.tokenswaps h4{
	font-family:monospace, sans-serif, Tahoma, Geneva;
	font-size: clamp(16px, 2vw, 25px) !important;
	padding:10px;
	margin:0px;
	box-sizing:border-box;
}
.swapContainer{
	position: relative;
	width: 100%;
	max-width:450px;
	height:auto;
	min-height:400px;
	margin:0px auto;
}
.swapcard{
	position:relative;
	width:100%;
	min-height:360px;
	vertical-align: middle;
	border:0.5px solid #202020;
	border-radius:10px;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(11px, 1vw, 14px) !important;
	line-height:1.5;
	padding:7px;
	box-sizing:border-box;
	background-color:#202020; /*212429 */
	margin:0;
}
.swapInfo{
	position: absolute;
	top:0px;
	right: -36%;
	height: auto;
	width: 35%;
	background-color: #252525;
	border: 0.5px solid #555;
	border-radius: 5px;
	box-sizing:border-box;
	padding:1%;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(10px, 1vw, 12.5px) !important;
	line-height:1;
}

@media (max-width: 750px){
  .swapInfo{
	position:relative;
	top:10px;
	right:0;
    display: block;
    height: auto !important;
    width: 100%;
	max-width:450px;
	margin:0;
	box-sizing:border-box;
  }
  .swapcard {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  #swapInfo_body{
	margin:3% 6% !important;
	text-align:left;
}
}
#swapInfor_head{
	margin:0px auto;
	width:12px;
	height:12px;
	background:url(../img/info.png) no-repeat center center;
	background-size:12px;
}
#swapInfo_body{
	margin:6%;
	text-align:left;
}
.TaxInfo{
	padding:0 !important;
	margin: 0 !important;
}
#bonusSitu{
	margin-bottom:4px;
}
#swapInfo_body span.status{
	display:inline-block;
	width:100%;
	margin:0;
	margin:4px 0;
}
.status_pre{
	white-space: pre;
}
.markgreen{
	color:#04C86C;
}
.markred{
	color:#ff3700;
	color:#ff4747;
}
#metrics_loader{
	display:none;
	position:absolute;
	top:0;
	right:20px;
	width:20px;
	height:20px;
	background:url(../img/eclipse.svg) no-repeat center center;
	background-size:25px;
}
#swapmetrics_cont, #swapmetrics{
	position:relative;
	height:21px;
}
.metric{
	font-size:11px;
	text-align:left;
	padding:1px 10px;
}
.tokencard{
	position:relative;
	width:95%;
	display: inline-flex;
	-moz-box-align: center;
	align-items: center;
	margin:5px auto;
	background-color:#282828;/*2c2f36*/
	height:110px;
	border-radius:15px;
	border:0.5px solid #333;
	caret-color: rgba(0,0,0,0);
}
#tokenA{
	margin-bottom:10px;
}
#tokenB{
	margin-top:10px;
}
#switchplacer{
	position:relative;
}
#switch{
	position:absolute;
	z-index:10;
	top:-1.5em;
	height:4em;
	width:4em;
	border-radius:50%;
	border:0.5px solid #673c2c;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	cursor:pointer;
	text-align:center;
	line-height:4em;
	caret-color: rgba(0,0,0,0);
	background-image: linear-gradient(to bottom, #342d2c, #42312d, #4f342e, #5c382d, #683c2c);
}
.switchsell{
	background-image: linear-gradient(to top, #342d2c, #42312d, #4f342e, #5c382d, #683c2c) !important;
}
.switchbuy{
	background-image: linear-gradient(to bottom, #342d2c, #42312d, #4f342e, #5c382d, #683c2c) !important;
}
.tokenAicon, .tokenBicon{
	position:relative;
	display: inline-flex;
	height:4em;
	width:4em;
	margin:2% auto;
	border-radius:50%;
	-moz-box-align: center;
	align-items: center;
	-moz-box-pack: center;
	justify-content: center;
	background-size:cover;
}
.tokenAicon{
	background:url("../img/eth.png") no-repeat, #282828;
	background-size:32px;
	background-position:center;
}
.tokenBicon{
	background:url("../img/logo.png") no-repeat, #282828;
	background-size:cover;
	background-position:center;
}
.buyNstake{
	position: absolute;
	display:none;
	bottom:0;
	right:0;
	width: 50%;
	font-size:11px;
	text-transform:uppercase;
}
.token_delegate{
	position:relative;
	display: inline-flex;
	width:70%;
	margin:2% auto;
	-moz-box-align: center;
	align-items: center;
}
.submit_delegate_t:hover{
	color:#FFF;
	background-color:#713d2b;
}
.wbalance{
	position:absolute;
	right:30px;
	top:-20px;
	display:block;
	color:#BBB;
}
#token_aaa, #token_bbb{
	right:2px;
}
.inputFieldHold{
	width:100%;
	margin:0px;
	line-height: 1.4375em;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;
	cursor: text;
	display: inline-flex;
	-moz-box-align: center;
	align-items: center;
	font-size: clamp(13px, 1vw, 14px) !important;
	border-radius: 4px;
	border:0.5px solid #303030;
	position: relative;
	padding: 2px 0px;
	background-color:transparent;
}

.inputFieldHold:hover{
	border:0.5px solid #3F3F3F;
}
.delegate_inputshold{
	margin-bottom:10px;
}
.atmInput{ /* input textfields common class*/
	width:100%;
	min-width: 160px;
	padding: 8px 2px;
	border-radius: 4px;
	overflow: auto;
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans";
	font-size: clamp(21px, 2vw, 25px) !important;
	line-height:1;
	text-align: right;
	color:#EEE;
	transition: all 0.2s ease-in-out 0s;
	box-sizing: border-box;
	resize:none;
	overflow:hidden;
	caret-color:#EEE;
	-moz-appearance: textfield;
	border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.mccard_details .atmInput{ 
	font-size: clamp(12px, 1vw, 16px) !important;
}
#d_delegate{
	
}
.delegatesellcont{
	position:relative;
	width:100%;
	caret-color:rgba(0,0,0,0);
	z-index:15;
}
.delegate_form{
	position:absolute;
	width:100%;
	height:0;
	background-color:#1D1D1D; /*212429 */
	border: 0.5px solid #333;
	border-radius:5px;
	display:none;
}
.delegate_expand{
	cursor:pointer;
	caret-color:rgba(0,0,0,0);
}
.delegate_expand:hover{
	color: rgb(39, 174, 96);
}
.delegate_expand img{
	width:12px;
}
.delegate_balances{
	position:relative;
	display:inline-block;
	width:100%;
	clear:both;
	padding:3px 5px;
	box-sizing:border-box;
}
.dbalance, .delegate_balances > #a_b_name{
	position:relative;
	display:inline-block;
	text-align:left;
	text-transform:uppercase;
	color:#D8D8D8;
	font-size: clamp(10px, 1vw, 12px);
	line-height:1.1;
	float:left;
	right:0;
}
.db1{
	margin-top:9px;
}
.delegatewhy{
	padding:2px 3px;
	box-sizing:border-box;
}
#swapButton, #delButton{
	font-family: monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans" !important;
	font-size: clamp(19px, 2vw, 23px) !important;
	text-align: center;
	font-weight:400;
	letter-spacing:0.5px;
	width:95%;
	height:auto;
	-moz-box-align: center;
	margin:2px auto;
	background-color:#683c2c;
	padding:12px 5px !important;
	border-radius:10px;
	border:0.5px solid #333;
	caret-color: rgba(0,0,0,0);
	cursor:pointer;
}
#swapButton:hover{
	color:#FFF !important;
}
#delButton{
	display:none;
}
.swapDisabled{
	background-color:#282828 !important;
	cursor: not-allowed !important;
}
.swapDiscouraged{
	background-color:#a43739 !important;
	cursor:pointer;
	color:#d5d5d5 !important;
}
.swapDiscouraged:hover{
	background-color:#ff3939 !important;
}

/* Trades history */
.trade_list_cont{
	max-width:1260px;
	margin:0px auto;
}
#fetch_trades, #fetching_trades, #more_trades{
	height:30px;
	cursor:pointer;
	text-align:center;
	font: 17px/1.7 monospace, sans-serif !important;
	font-weight:bold;
	color:#FFF;
}
#{
background: url("https://images2.imgbox.com/13/df/wKuFChRN_o.png") no-repeat center bottom;
background-position: 50% 22px;
background-size: 17px, cover;
}
#trade_list{
	margin-top:20px;
	padding:5px;
	box-sizing:border-box;
	font: 15px/1.5 monospace, sans-serif, "Helvetica Neue", Helvetica, "Liberation Sans"!important;
}
#trade_list li{
	list-style:none;
	padding:2px;
	text-align:left;
	box-sizing:border-box;
	border-bottom:1px solid #DADADA;
}
#trade_list li:hover{
	background-color:#313131;
}
#trade_list li a, #trade_list li a:hover, #trade_list li a:visited{
	color:#5C84ED;
	color: rgb(31, 152, 199);/* twitter blue */
	text-decoration:none;
}
#trade_list li.buytx span{
	display:inline-block;
}
#trade_list li.selltx span{
	display:inline-block;
}
.sell_tag, .buy_tag{
	width:50px;
}
.sell_tag{
	color:#ea3943;
}
.buy_tag{
	color:#17c671;
}
.traded_in{
	min-width:190px;
}
.traded_for{
	width:auto;
	min-width:100px;
	text-overflow: ellipsis;
	overflow-style:marquee-line;
}
.tdetails{
	display:inline-block;
	width:auto;
}
.trade_tx{
	width:auto;
	text-align:center;
}
